
{% assign image = section.settings.image %}
{% assign mobile_image = section.settings.mobile_image %}
{% assign content_side = section.settings.content_side %}

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="advanced-search" 
         class='fade-in-animation advanced-search-section {% if content_side ==  'full_width' %} auto_height padding-section {% else %} bg_image_with_custom_content {% endif %}' >


  {% capture section_content%} 
  {% if section.settings.title != blank or  section.settings.subtitle != blank %}
  <header class="section-header homepage_subtitle_style_{{settings.homepage_subtitle_color}}">
    {% if section.settings.subtitle != blank  %}
    <span class='h5'>{{ section.settings.subtitle  }}</span>
    {% endif %}
    {% if section.settings.title != blank  %}
    <h2>{{ section.settings.title }}</h2>
    {% endif %}

    {% if section.settings.content != blank  %}
    <div class='content'>{{ section.settings.content }}</div>
    {% endif %}
  </header>
  {% endif %}

  <div class='advanced-search-wrapper {% if content_side ==  'full_width' %} full_width {% endif %}'>
    <form action="{{ routes.search_url }}" method="get" role="search" class="search-form">
      <div class="input-group input-group--nowrap">
        <div class="input-group__field input-group__field--connected search-form__input-wrapper">

    <label for="search-form__input__{{ section.id }}" class="visually-hidden"></label>
          <input
             id="search-form__input__{{ section.id }}"
                 type="search"
                 name="q"
                 value="{{ search.terms | escape }}"
                 placeholder="{{ 'general.search.placeholder' | t }}"
                 role="combobox"
                 aria-autocomplete="list"
                 aria-expanded="false"
                 aria-label="{{ 'general.search.placeholder' | t }}"
                 aria-haspopup="listbox"
                 class="search-form__input"
                 data-search-page-predictive-search-input
                 data-base-url="{{ routes.search_url }}"
                 />
          
          <select class='search-form__select' id='advanced-search-product-type' data-search-type="*">
            <option value=''>{{ 'sections.header.all_categories' | t }}</option>
            {%- for product_type in shop.types -%}
            {%- if product_type != blank -%}
            <option value='{{  product_type }}'>{{ product_type | escape}}</option>
            {%- endif -%}
            {%- endfor -%}
          </select>
          

          <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

        </div>

      </div>

      <button type="submit" class="search-form__connected-submit btn btn--{{section.settings.button_style }} " aria-label="{{ 'general.search.submit' | t }}">
        <span>{{ 'general.search.submit' | t }}</span>
        {% include 'icon' with 'tail-right' %}
      </button>
    </form>
  </div>
  {% endcapture %}


  <div class='section_bg {% if content_side ==  'full_width' %} full_height {% endif %}'>
	{% if image != blank %}
        <img 
             class="section_bg_image {% if mobile_image != blank %} small--hide {% endif %}"
             srcset="{%- if image.width >= 375 -%}{{ image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if image.width >= 720 -%}{{ image | img_url: '720x' }} 750w,{%- endif -%}
                {%- if image.width >= 1066 -%}{{ image | img_url: '1066x' }} 1066w,{%- endif -%}
             	{%- if image.width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if image.width >= 1780 -%}{{ image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if image.width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if image.width >= 2800 -%}{{ image | img_url: '2800x' }} 2800w{%- endif -%}"
             src="{{ image | img_url: '750x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ image.width }}"
        	 height="{{ image.height }}"
            alt="{{image.alt | default: section.settings.title }}"
            style="object-position:{{ image.presentation.focal_point }};">

      
      {% if mobile_image != blank %}
        <img 
             class="section_bg_image mobile_image medium-up--hide"
             srcset="{%- if mobile_image.width >= 375 -%}{{ mobile_image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if mobile_image.width >= 720 -%}{{ mobile_image | img_url: '720x' }} 750w,{%- endif -%}
                {%- if mobile_image.width >= 1066 -%}{{ mobile_image | img_url: '1066x' }} 1066w,{%- endif -%}
             	{%- if mobile_image.width >= 1500 -%}{{ mobile_image | img_url: '1500x' }} 1500w{%- endif -%}"
             src="{{ mobile_image | img_url: '535x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ mobile_image.width }}"
        	 height="{{ mobile_image.height }}"
             alt="{{mobile_image.alt | default: section.settings.title }}"
             style="object-position:{{ mobile_image.presentation.focal_point }};">
      {% endif %}
           
    
    {% else %}
    <div class='section_bg_image'>
      {% capture current %}{% cycle 1, 2 %}{% endcapture %}
      {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
    
	  {% endif %}
  </div>


  <div class='section_content'>
    <div class="{% if content_side ==  'full_width' %} page-width  {% else %} page-width-small content_side_{{content_side}} {% endif %}">
      <div class='section_content__wrapper text-left '>
        <div class='section_main_content {% if content_side ==  'full_width' %} full_width {% endif %}'>
          {{section_content}}
        </div>

      
      </div>
    </div>
  </div>

  

  <style>
      #section-{{ section.id }}  .input-group .search-form__select,
    #section-{{ section.id }}  .input-group .search-form__input,
      #section-{{ section.id }}  .input-group ::placeholder,
    #section-{{ section.id }} .section-header *:not(h5) {
      color: {{ section.settings.text_color }};
    }
  
    {% if settings.homepage_subtitle_color == 'match_header' %}
    #section-{{ section.id }}  .section-header .h5 {
      color: {{ section.settings.text_color }};
    }
    #section-{{ section.id }}  .section-header .h5:before {
      background: {{ section.settings.text_color }};
    }
    {% endif %}
    
  
    #section-{{ section.id }}  .input-group ::placeholder {
      opacity:1;
    }

    
  </style>

  {% unless content_side ==  'full_width' %}
  <div class='section_overlay content_side_{{content_side}}'></div>
  <div class='section_overlay_border_top content_side_{{content_side}}'></div>
  <div class='section_overlay_border_bottom content_side_{{content_side}}'></div>
   {% else %}
  <div class='section_overlay full_width '></div>
  {% endunless %}
  
  {% assign color_image_overlay = section.settings.color_image_overlay %}

 {% if color_image_overlay == 'rgba(0,0,0,0)' or color_image_overlay == blank %}
  {% assign color_image_overlay = settings.color_button %}
  {% endif %}

  
  <style>
    #section-{{ section.id }} .section_overlay {
      opacity: {{ section.settings.image_overlay_opacity }}% ;
      background-color: {{ color_image_overlay }};
    }
  </style>
</section>

{% schema %}
  {
  "name":"t:sections.advanced-search.name",
	"class": "index-section no-padding",
    "settings": [
		{
		"type":"image_picker",
		"id":"image",
		"label":"t:sections.advanced-search.settings.image.label"
		},
		{
		"type":"image_picker",
		"id":"mobile_image",
		"label":"t:sections.advanced-search.settings.mobile_image.label"
		},
	{
      "type": "select",
      "id": "content_side",
      "label": "t:sections.advanced-search.settings.content_side.label",
	"options": [
		{
          "value": "left",
          "label": "t:sections.advanced-search.settings.content_side.options__1.label"
		},
		{
          "value": "right",
          "label": "t:sections.advanced-search.settings.content_side.options__2.label"
		},
	{
          "value": "full_width",
          "label": "t:sections.advanced-search.settings.content_side.options__3.label"
		}		
	],
	"default":"left"
	},
		{
		"type":"text",
		"id":"title",
		"label":"t:sections.advanced-search.settings.title.label",
		"default":"Heading"
		},
		{
		"type":"text",
		"id":"subtitle",
		"label":"t:sections.advanced-search.settings.subtitle.label",
		"default":"Subtitle"
		},
		{
		"type":"richtext",
		"id":"content",
		"label":"t:sections.advanced-search.settings.content.label",
		"default":"<p>Content text</p>"
		},	
	{
      "type": "select",
      "id": "button_style",
      "label": "t:sections.advanced-search.settings.button_style.label",
      "default": "primary",
      "options": [
		   {
          "label": "t:sections.advanced-search.settings.button_style.options__1.label",
          "value": "primary"
        },
		   {
          "label": "t:sections.advanced-search.settings.button_style.options__2.label",
          "value": "secondary"
        },
		   {
          "label": "t:sections.advanced-search.settings.button_style.options__3.label",
          "value": "white"
        },
		   {
          "label": "t:sections.advanced-search.settings.button_style.options__4.label",
          "value": "transparent_primary"
        },
		   {
          "label": "t:sections.advanced-search.settings.button_style.options__5.label",
          "value": "transparent_secondary"
        }
	]
},
		{
		"type":"color",
		"id":"text_color",
		"label":"t:sections.advanced-search.settings.text_color.label",
		"default":"#fff"
		},
		
	{
        "type": "color",
        "id": "color_image_overlay",
       "label": "t:sections.advanced-search.settings.color_image_overlay.label"
},
      {
        "type": "range",
        "id": "image_overlay_opacity",
       "label": "t:sections.advanced-search.settings.image_overlay_opacity.label",
        "min": 0,
        "max": 100,
        "step": 1,
       "unit": "t:sections.advanced-search.settings.image_overlay_opacity.unit",
        "default": 70
      }
	],

	"presets": [
	{
	"name":"t:sections.advanced-search.presets.name",
	"category":"Custom sections"
	}
	]
  }
{% endschema %}
