{% assign header_image = section.settings.header_image %}
{% assign header_heading = page_title %}
{% assign show_breadcrumbs = section.settings.show_breadcrumbs %}

{% assign image_overlay_color = section.settings.image_overlay_color %}
{% assign image_overlay_opacity = section.settings.image_overlay_opacity %}
{% render 'custom_page_header' image: header_image, heading: header_heading, show_breadcrumbs: show_breadcrumbs, show_heading: true, image_overlay_color: image_overlay_color, image_overlay_opacity: image_overlay_opacity %}



{% assign layout = section.settings.layout %}
{% assign show_sidebar = false %}



{% for block in section.blocks %}
{% if block.type != 'top_bar' %}
{% assign show_sidebar = true %}
{% endif %}
{% endfor %}

{% assign show_top_bar_tags = false %}

{% if section.settings.show_tags_dropdown %}
{% assign show_top_bar_tags = true %}
{% endif %}

{% assign show_top_bar_menu = false %}
{% if section.settings.menu != blank %}
{% assign show_top_bar_menu = true %}
{% assign top_bar_menu = linklists[section.settings.menu] %}
{% endif %}

{% assign show_top_bar = false %}
{% if show_top_bar_menu or show_top_bar_tags %}
{% assign show_top_bar = true %}
{% endif %}


{% paginate blog.articles by 12 %}


{% if layout == 'grid' %}
{%- assign grid_item_width = 'mobile--one-whole small--one-half  medium-up--one-third' -%}
{% assign items_per_row = 3 %}
{% else %}
{% assign items_per_row = 1 %}
{%- assign grid_item_width = 'medium-up--whole'  %}
{% endif %}

{% assign pagination_mode = section.settings.pagination_mode %}


<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="blog-page" data-pagination_mode="{{pagination_mode}}">
  <div class="page-width">

    {% if show_top_bar or show_sidebar %}
    <div class='blog_page_top_bar'>
      
      {% if show_sidebar %}
      <button type='button' class='open_mobile_sidebar  btn btn--primary'><span>{{ 'blogs.sidebar.mobile_open_button' | t }}</span></button>
      {% endif %}
      
      <div class='blog_page_top_bar-dropdowns-wrapper'>
      {% if show_top_bar_menu %}
      <div class="blog_page_top_bar-dropdown-wrapper  blog_page_top_bar_menu">
        <select id="top_bar_menu"
                class="blog_page_top_bar-dropdown"
                data-select-input
                >
           <option disabled  selected >{{ top_bar_menu.title }}</option>         
           {% for link in top_bar_menu.links %}
          <option value="{{ link.url }}">{{ link.title }}</option>
          {%- endfor -%}
        </select>
        {% include 'icon-chevron-down' %}
      </div>
      {% endif %}
      
      {% if show_top_bar_tags %}
      <div class="blog_page_top_bar-dropdown-wrapper blog_page_top_bar_tags">

        
       
        
        <div class='hidden_top_bar_tags_links hide ' aria-hidden="true">
          {% for tag in blog.tags %}
          <span class='hidden_top_bar_tags_link' data-tag-handle="{{ tag | handle }}">
          {{ tag | link_to_tag: tag  }}
          </span>
          {% endfor %}
        </div>

        
        <select id="top_bar_tags"
                class="blog_page_top_bar-dropdown"
                data-select-input
                >
          <option value='' {% unless request.path contains 'tagged' %} selected {% endunless %}>{{ 'blogs.article.tags' | t }}</option>
           {% for tag in blog.tags %}
          {% assign downcase_tag =  tag | handle %}
          <option value="{{ tag | handle }}" {% if request.path contains downcase_tag %} selected {% endif %} >{{ tag }}</option>
          {%- endfor -%}
        </select>
        {% include 'icon-chevron-down' %}
      </div>
      {% endif %}
      </div>
      
    </div>
    {% endif %}

   
    
    <div class='blog_page_layout layout_{{layout}}'> 
      {% if show_sidebar %}
      {% include 'blog-sidebar' %}
      {% endif %}

      <div class='blogs-wrapper'>
        <ul {% if pagination_mode != 'standart' %} id="AjaxinateContainer" {% endif %} class="grid grid--uniform zoom-fade-animation">
          {% for article in blog.articles %}
          <li class="zoom-fade-animation-element-wrapper grid__item {{grid_item_width}}">
        <article class='article_block' aria-labelledby="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">
        
            <a href="{{ article.url }}" class="article__link">
              {% if article.image %}
              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}

             
              <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container">
                  <img id="{{ img_id }}"
                       class="article__grid-image zoom-fade-animation-element"
                       srcset="{%- if article.image.width >= 375 -%}{{ article.image | img_url: '375x' }} 375w,{%- endif -%}
                        {%- if article.image.width >= 535 -%}{{ article.image | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if article.image.width >= 720 -%}{{ article.image | img_url: '720x' }} 750w,{%- endif -%}
                        {%- if article.image.width >= 940 -%}{{ article.image | img_url: '940x' }} 940w,{%- endif -%}
                        {%- if article.image.width >= 1066 -%}{{ article.image | img_url: '1066x' }} 1066w{%- endif -%}"
                       src="{{ article.image | img_url: '535x' }}"
                       sizes="(min-width: 750px) calc(100vw / {{ items_per_row }}), 100vw"
                       loading="lazy"
                       width="{{ article.image.width }}"
                       height="{{ article.image.height }}"
                       alt="{{article.image.alt | default: article.title }}">
                    {% render 'load_spinner' %}
                </div>
              </div>
              <noscript>
                <div class="article__grid-image-wrapper">
                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                </div>
              </noscript>
              {% endif %}

            </a> 

          <div class='article_block_info'>
             <h4 class="article__title" id="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">
                <a href="{{ article.url }}">
                {{ article.title }}
               </a>
              </h4>
          
            
            
            {% if settings.blog_show_author %}
            {% assign original_author_name = article.author %}

            {% assign show_default_author_info = true %}
            
            {% for i in (1..3) %}
            {% capture custom_author_name_handle %}author_name_{{i}}{% endcapture %}
            {% capture custom_author_logo_handle %}author_logo_{{i}}{% endcapture %}
            {% capture custom_author_biography_handle %}author_biography_{{i}}{% endcapture %}

            {% assign author_name = settings[custom_author_name_handle] %}
            {% assign author_logo = settings[custom_author_logo_handle] %}
            {% assign author_biography = settings[custom_author_biography_handle] %}

            {% if author_name == original_author_name %}
			 {% assign show_default_author_info = false %}
            
            <span class="article__author {% if author_logo == blank %} text_name {% endif %}">
              
              {% if author_logo != blank %}
              <img src='{{ author_logo | img_url:"150x" }}' 
                   alt='{{article.author}}'
                   srcset="{{ author_logo | img_url: '150x' }} 1x, {{ author_logo | img_url: '150x', scale: 2 }} 2x"
                   loading="lazy"
                   width="{{author_logo.width}}"
                   height="{{author_logo.height}}"/>
              {% else %}
              {{ 'blogs.article.by_author' | t: author: article.author }}
              {% endif %}

            </span>


            {% break %}
            {% endif %}
            {% endfor %}
            {% if show_default_author_info %}

            <span class="article__author  text_name">
              {{ 'blogs.article.by_author' | t: author: article.author }}
            </span>

            {% endif %}
            {% endif %}            
            

            <div class="article__grid-meta">
              {% if section.settings.blog_show_date %}
              <span class="article__date">
                {{ article.published_at | time_tag: format: 'date' }}
              </span>
              {% endif %}

              {% if blog.comments_enabled? and article.comments_count > 0 %}
              <div class='article__comment_info'>
                <a href="{{ article.url }}#comments" class="article__comment-count">
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a>
              </div>
              {% endif %}

            </div>
            
            
            
            
            {% if section.settings.show_excerpt %}
            <div class="article__list-excerpt">
              {% if article.excerpt != blank %}
            	{{ article.excerpt }}
              {% else %}
              {{ article.content  | strip_html |  truncatewords: 30 }}
              {% endif %}
            </div>
            {% endif %}
            
            <div class="article__list-btn">
              <a href='{{ article.url }}' class='btn btn--secondary'>
                <span>{{ 'blogs.article.read_more' | t }}</span>
                 {% include 'icon' with 'tail-right' %}
              </a>
            </div>

          </div>
        </article>
      </li>
          {% endfor %}
        </ul>

        {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate, pagination_mode : pagination_mode %}
        {%- endif -%}

      </div>
    </div>
    
  </div>
</section>

{% if pagination_mode != 'standart' %}
<script src="{{ 'ajaxinate.js' | asset_url }}" defer="defer"></script>  
{% endif %}




{% endpaginate %}



{% schema %}
{
  "name": "t:sections.blog-template.name",
  "settings": [

	{
		"type":"image_picker",
		"id":"header_image",
		"label":"t:sections.blog-template.settings.header_image.label"
		},
{
		"type":"color",
		"id":"image_overlay_color",
		"label":"t:sections.blog-template.settings.image_overlay_color.label",
		"default": "#000"
		},
      {
        "type": "range",
        "id": "image_overlay_opacity",
       "label": "t:sections.blog-template.settings.image_overlay_opacity.label",
        "min": 0,
        "max": 100,
        "step": 1,
       "unit": "t:sections.blog-template.settings.image_overlay_opacity.unit",
        "default": 40
      },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.blog-template.settings.layout.label",
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.blog-template.settings.layout.options__1.label"
        },
        {
          "value": "list",
          "label": "t:sections.blog-template.settings.layout.options__2.label"
        }
      ]
    },
		{
		"type":"checkbox",
		"id":"show_breadcrumbs",
		"label":"t:sections.blog-template.settings.show_breadcrumbs.label",
		"default": true
		},
 {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.blog-template.settings.link_list.label",
          "info": "t:sections.blog-template.settings.link_list.info"
        },
        {
          "type": "checkbox",
          "id": "show_tags_dropdown",
          "label": "t:sections.blog-template.settings.show_tags_dropdown.label",
		"default": true
        },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:sections.blog-template.settings.blog_show_date.label",
      "default": true
    },
	{
		"type":"checkbox",
		"id":"show_excerpt",
		"label":"t:sections.blog-template.settings.show_excerpt.label",
		"default": true
		},
	{
	"type":"header",
	"content":"t:sections.blog-template.settings.pagination_header.content"
	},
{
	"type":"select",
	"id":"pagination_mode",
	"label":"t:sections.blog-template.settings.pagination_mode.label",
	"options": [
		{
			"label":"t:sections.blog-template.settings.pagination_mode.options__1.label",
			"value":"standart"
		},
		{
			"label":"t:sections.blog-template.settings.pagination_mode.options__2.label",
			"value":"click"
		},
		{
			"label":"t:sections.blog-template.settings.pagination_mode.options__3.label",
			"value":"scroll"
		}
	],
	"default": "standart"
	}
  ],
 "blocks": [
    {
      "type": "featured_posts",
      "name": "t:sections.blog-template.blocks.featured_posts.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.title.label",
          "default": "Popular posts"
        },
       
        {
          "type": "checkbox",
          "id": "show_date",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.show_date.label",
          "default": true
        },
	{
          "type": "checkbox",
          "id": "show_comments",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.show_comments.label",
          "default": true
        },
        {
          "type": "article",
          "id": "article_1",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.article_1.label"
        },
        {
          "type": "article",
          "id": "article_2",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.article_2.label"
        },
        {
          "type": "article",
          "id": "article_3",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.article_3.label"
        },
        {
          "type": "article",
          "id": "article_4",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.article_4.label"
        },
        {
          "type": "article",
          "id": "article_5",
          "label": "t:sections.blog-template.blocks.featured_posts.settings.article_5.label"
        }
      ]
    },
{
      "type": "links",
      "name": "t:sections.blog-template.blocks.links.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.blog-template.blocks.links.settings.link_list.label",
          "info": "t:sections.blog-template.blocks.links.settings.link_list.info"
        }
      ]
    },
	{
      "type": "search",
      "name": "t:sections.blog-template.blocks.search.name",
		"limit":1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_search_form",
          "label": "t:sections.blog-template.blocks.search.settings.show_search_form.label",
		"default": true
        }
      ]
    },
	{
      "type": "categories",
      "name": "t:sections.blog-template.blocks.categories.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tags",
          "label": "t:sections.blog-template.blocks.categories.settings.show_tags.label",
		"default": true
        }
      ]
    }
	]
}
{% endschema %}
