<link rel="stylesheet" href="{{ 'collection-page.css' | asset_url }}" type="text/css">


{%- assign view_mode = cart.attributes.collection_layout | default: section.settings.default_view_layout -%}

{% assign featured_collection_image = collection.image %}
{% assign vendor_default_image = section.settings.vendor_default_image %}
{% assign custom_page_image = section.settings.image %}

{% assign collection_image_mode = section.settings.collection_image_mode %}
{%  assign show_banner = false %}


{%  if custom_page_image != blank %}
  {%  assign show_banner = true %}
{%  endif %}
{%  if collection_image_mode == 'banner' and featured_collection_image != blank  %}
   {%  assign show_banner = true %}
  {%  endif %}
{% if vendor_default_image != blank and request.path contains 'vendors'   %}
  {%  assign show_banner = true %}
{% endif %}

{%  assign banner_image =  featured_collection_image %}
{%  if   custom_page_image != blank and featured_collection_image == blank  %}
{%  assign banner_image =  custom_page_image %}
{%  endif %}
{%  if   custom_page_image != blank and featured_collection_image != blank and collection_image_mode == 'image' or  custom_page_image != blank and featured_collection_image != blank and collection_image_mode == 'hide'  %}
  {%  assign banner_image =  custom_page_image %}
{%  endif %}

{% if vendor_default_image != blank and request.path contains 'vendors'   %}
{%  assign banner_image =  vendor_default_image %}
{% endif %}

{% case section.settings.grid %} 
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if view_mode == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}


{% assign products_per_row_mobile = section.settings.grid_mobile | times: 1 %}

{% assign grid_item_mobile_width = 'small--one-whole' %}
{% if products_per_row_mobile  == 2 %}
{% assign grid_item_mobile_width = 'small--one-half' %}
{% endif %}



{% assign pagination_mode = section.settings.pagination_mode %}
{% assign show_collection_description = section.settings.show_collection_description %}
{% assign filters_view_mode = section.settings.collection_layout %}

{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" data-pagination_mode="{{pagination_mode}}" class='{% if products_per_row_mobile == 2 %} half_row_mobile {% endif %}'>
  <header class="collection-header">

    {% if show_banner %}


    {% assign show_breadcrumbs = section.settings.show_breadcrumbs %}
    {% assign image_overlay_color = section.settings.image_overlay_color %}
    {% assign image_overlay_opacity = section.settings.image_overlay_opacity %}


    {% render 'custom_page_header' collection: collection, sort_enable: section.settings.sort_enable,  view_mode:view_mode, filters_view_mode: filters_view_mode, image: banner_image, heading: collection.title, show_breadcrumbs: show_breadcrumbs, show_heading: true, image_overlay_color: image_overlay_color, image_overlay_opacity: image_overlay_opacity, show_collection_filters_toolbar : true %}

    {% endif %}
  
    <div class="page-width">

  {%  if show_banner == false %}
      <div class="section-header">
        {% render 'breadcrumbs' collection:collection %}
        <div class='section-header-wrapper'>
          <div class="section-header-wrapper-collection">
            <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
            <h1 class="h2">{{ collection.title }}</h1>
            <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          </div>

          <div class="filters-toolbar">

            <button type='button' class='lap-and-up--hide open_mobile_sidebar  btn btn--primary'><span>{{ 'collections.sidebar.mobile_open_button' | t }}</span></button>
            <button type="button" class="collection__layout-button {% if view_mode == 'grid' %}is-selected{% endif %}" aria-label="{{ 'collections.general.grid' | t }}" data-action="change-layout" data-layout-mode="grid">{% render 'icon', icon: 'grid' %}</button>
            <button type="button" class="collection__layout-button {% if view_mode == 'list' %}is-selected{% endif %}" aria-label="{{ 'collections.general.list' | t }}" data-action="change-layout" data-layout-mode="list">{% render 'icon', icon: 'list' %}</button>

            {% if section.settings.sort_enable %}
            <div class="toolbar_sort_by-block filters-toolbar__item-child">

              <label class="filters-toolbar__label select-label" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
              <div class="filters-toolbar__input-wrapper select-group">
                <select name="sort_by" id="SortBy"
                        class="filters-toolbar__input hidden"
                        aria-describedby="a11y-refresh-page-message a11y-selection-message"
                        data-default-sortby="{{ collection.default_sort_by }}"
                        data-select-input
                        >
                  {%- for option in collection.sort_options -%}
                  <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                  {%- endfor -%}
                </select>
                {% include 'icon-chevron-down' %}
              </div>
            </div>
            {% endif %}
  
          </div>
        </div> 
      </div>

    {%  endif %}
      {% if collection_image_mode == 'image' and featured_collection_image != blank %}
        
      {% capture img_id %}Image-{{ collection.image.id }}{% endcapture %}
      {% capture img_wrapper_id %}ImageWrapper-{{ image.id }}{% endcapture %}
      <div class='collection-image-container'>
        {% include 'image-style', image: collection.image, height: collection.image.height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <img id="{{ img_id }}"
             class="collection-image"
             srcset="{%- if collection.image.width >= 375 -%}{{ collection.image | img_url: '375x' }} 375w,{%- endif -%}
                     {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 750w,{%- endif -%}
                     {%- if collection.image.width >= 1066 -%}{{ collection.image | img_url: '1066x' }} 1066w,{%- endif -%}
                     {%- if collection.image.width >= 1500 -%}{{ collection.image | img_url: '1500x' }} 1500w,{%- endif -%}
                     {%- if collection.image.width >= 1780 -%}{{ collection.image | img_url: '1780x' }} 1780w,{%- endif -%}
                     {%- if collection.image.width >= 2000 -%}{{ collection.image | img_url: '2000x' }} 2000w,{%- endif -%}
                     {%- if collection.image.width >= 2800 -%}{{ collection.image | img_url: '2800x' }} 2800w{%- endif -%}"
             src="{{ collection.image | img_url: '535x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ collection.image.width }}"
             height="{{ collection.image.height }}"
             alt="{{ collection.image.alt | default: collection.title }}">
         

      </div>
      {% endif %}
    </div>
 

  </header>
  <div class="page-width">

    {% if show_collection_description == 'top' %}
    {% if collection.description != blank %}
    <div class='collection-description rte'>
      {{ collection.description }}
    </div>
    {% endif %}
    {% endif %}

    <div class='Collection_Section filters_view_mode_{{filters_view_mode}}'>

      {% if filters_view_mode != 'no_sidebar' %}

      {% include 'collection-sidebar'  collection:collection, filters_view_mode: filters_view_mode, show_vendor: section.settings.show_vendor %}
      {% endif %}

      <div id="Collection">


        {%- if view_mode == 'grid' -%}
        {%- assign show_as_list = false -%}
        {%- else -%}
        {%- assign show_as_list = true -%}
        {%- endif -%}


        {% case section.settings.grid %}
        {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 3 %}
        {%- assign grid_item_width = 'medium-up--one-third' -%}
        {% when 4 %}
        {%- assign grid_item_width = ' medium-up--one-quarter' -%}
        {% when 5 %}
        {%- assign grid_item_width = ' medium-up--one-fifth' -%}
        {% endcase %}





        <div {% if pagination_mode != 'standart' %} id="AjaxinateContainer" {% endif %} class="CollectionGrid ">
          <div class="{% if show_as_list %} enable_list_mode {% endif %} zoom-fade-animation grid {% if settings.align_height %} use_align_height {% else %} use_image_height {% endif %} Collection-wrapper grid--uniform {% if collection.products_count > 0 %} grid--view-items{% endif %}" >
            {% for product in collection.products %}

            {% include 'product-card-item', list: show_as_list, max_height: max_height, product: product, show_vendor: section.settings.show_vendor, products_per_row: section.settings.grid %}

            {% else %}
            {% comment %}
            Add default products to help with onboarding for collections/all only.

            The onboarding styles and products are only loaded if the
            store has no products.
            {% endcomment %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <div class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                <div class="grid__item {{ grid_item_width }} {{ grid_item_mobile_width }}">
                  <div class="grid-view-item">
                    <a href="#" class="grid-view-item__link">
                      <div class="grid-view-item__image">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                      <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                      <div class="grid-view-item__meta">
                        <span class="product-price__price">$19.99</span>
                      </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% else %}
            {%- assign is_empty_collection = true -%}
            {% endif %}
            {% endfor %}
          </div>
        </div>

        {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
        {% endif %}

        {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate, pagination_mode : pagination_mode %}
        {%- endif -%}



        {% if show_collection_description == 'bottom' %}
        {% if collection.description != blank %}
        <div class='collection-description rte bottom_collection_description'>
          {{ collection.description }}
        </div>
        {% endif %}
        {% endif %}

      </div>


    </div>
  </div>
</div>

{% endpaginate %}
{% if pagination_mode != 'standart' %}
<script src="{{ 'ajaxinate.js' | asset_url }}" defer="defer"></script>  
{% endif %}

<script src="{{ 'collection-page.js' | asset_url }}"></script>

{% schema %}
{
  "name": "t:sections.collection-template.name",
  "settings": [
    {
      "type": "select",
      "id": "default_view_layout",
      "label": "t:sections.collection-template.settings.default_view_layout.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.collection-template.settings.default_view_layout.options__1.label"
        },
        {
          "value": "list",
          "label": "t:sections.collection-template.settings.default_view_layout.options__2.label"
        }
      ],
      "default": "grid"
    },
	{
		"type":"image_picker",
	"id":"image",
	"label":"t:sections.collection-template.settings.image.label"
	},
{
		"type":"image_picker",
	"id":"vendor_default_image",
	"label":"t:sections.collection-template.settings.vendor_default_image.label"
	},
	{ 
	"type":"select",
	"id":"collection_image_mode",
	"label":"t:sections.collection-template.settings.collection_image_mode.label",
	"options": [
      {
              "label":"t:sections.collection-template.settings.collection_image_mode.options__1.label",
              "value":"banner"
      },
      {
              "label":"t:sections.collection-template.settings.collection_image_mode.options__2.label",
              "value":"image"
      },
      {
              "label":"t:sections.collection-template.settings.collection_image_mode.options__3.label",
              "value":"hide"
      }
	],
	"default": "banner"
	},
		{
		"type":"checkbox",
		"id":"show_breadcrumbs",
		"label":"t:sections.collection-template.settings.show_breadcrumbs.label",
		"default": true
		},
{
		"type":"color",
		"id":"image_overlay_color",
		"label":"t:sections.collection-template.settings.image_overlay_color.label",
		"default": "#000"
		},
      {
        "type": "range",
        "id": "image_overlay_opacity",
       "label": "t:sections.collection-template.settings.image_overlay_opacity.label",
        "min": 0,
        "max": 100,
        "step": 1,
       "unit": "t:sections.collection-template.settings.image_overlay_opacity.unit",
        "default": 40
      },
    {
      "type": "range",
      "id": "grid",
      "label": "t:sections.collection-template.settings.grid.label",
      "default": 3,
      "min": 2,
      "max": 5,
      "step": 1
    },
	 {
      "type": "select",
      "id": "grid_mobile",
      "label": "t:sections.collection-template.settings.grid_mobile.label",
	"options": [
		{
          "value": "1",
          "label": "t:sections.collection-template.settings.grid_mobile.options__1.label"
		},
		{
          "value": "2",
          "label": "t:sections.collection-template.settings.grid_mobile.options__2.label"
		}
	],
	"default":"1"
	},
    {
      "type": "range",
      "id": "rows",
      "label": "t:sections.collection-template.settings.rows.label",
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },

	{ 
	"type":"select",
	"id":"show_collection_description",
	"label":"t:sections.collection-template.settings.show_collection_description.label",
	"options": [
      {
              "label":"t:sections.collection-template.settings.show_collection_description.options__1.label",
              "value":"top"
      },
      {
              "label":"t:sections.collection-template.settings.show_collection_description.options__2.label",
              "value":"bottom"
      },
      {
              "label":"t:sections.collection-template.settings.show_collection_description.options__3.label",
              "value":"hidden"
      }
	],
	"default": "top"
	},

    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.collection-template.settings.show_vendor.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": "t:sections.collection-template.settings.sort_enable.label",
      "default": true
    },
	{
		"type":"header",
		"content": "t:sections.collection-template.settings.collection_sidebar_header.label"
	},
  {
      "type":"select",
      "id":"collection_layout",
      "label":"t:sections.collection-template.settings.collection_layout.label",
      "default":"sidebar_fixed_left",
      "options":[
        {
          "value":"sidebar_fixed_left",
          "label":"t:sections.collection-template.settings.collection_layout.options__1.label"
        },
        {
          "value":"off_canvas_sidebar",
          "label":"t:sections.collection-template.settings.collection_layout.options__2.label"
        },
        {
          "value":"no_sidebar",
          "label":"t:sections.collection-template.settings.collection_layout.options__3.label"
        }
      ]
    },
    {
      "type":"select",
      "id":"collection_sidebar_filters",
      "label":"t:sections.collection-template.settings.collection_sidebar_filters.label",
      "options":[
        {
          "value":"default",
          "label":"t:sections.collection-template.settings.collection_sidebar_filters.options__1.label"
        },
    {
          "value":"groups",
          "label":"t:sections.collection-template.settings.collection_sidebar_filters.options__2.label"
        },
        {
          "value":"simple-tags",
          "label":"t:sections.collection-template.settings.collection_sidebar_filters.options__3.label"
        },
	{
          "value":"none",
          "label":"t:sections.collection-template.settings.collection_sidebar_filters.options__4.label"
        }
      ],
      "default":"default",
      "info":"t:sections.collection-template.settings.collection_sidebar_filters.info"
    },
    {
      "type":"header",
      "content":"t:sections.collection-template.settings.header__1.content",
      "info":"t:sections.collection-template.settings.header__1.info"
    },
    {
      "type":"text",
      "id":"group_array",
      "label":"t:sections.collection-template.settings.group_array.label",
      "info":"t:sections.collection-template.settings.group_array.info"
    },
    {
      "type":"header",
      "content":"t:sections.collection-template.settings.header__2.content"
    },
    {
      "type":"link_list",
      "id":"collection_linklist",
      "label":"t:sections.collection-template.settings.collection_linklist.label"
    },
  
    {
      "type":"checkbox",
      "id":"show_sidebar_vendors",
      "label":"t:sections.collection-template.settings.show_sidebar_vendors.label"
    },
    {
      "type":"checkbox",
      "id":"show_collection_sidebar_sale",
      "label":"t:sections.collection-template.settings.show_collection_sidebar_sale.label"
    },
    {
      "type":"collection",
      "id":"sidebar_collection_sale_collection",
      "label":"t:sections.collection-template.settings.sidebar_collection_sale_collection.label"
    },
  {
      "type":"text",
      "id":"collection_sidebar_sale_title",
      "label":"t:sections.collection-template.settings.collection_sidebar_sale_title.label",
    "default": "On Sale"
    },
    {
        "type": "range",
        "id": "sidebar_collection_product_count",
        "label": "t:sections.collection-template.settings.sidebar_collection_product_count.label",
        "min":       1,
        "max":        6,
        "step":       1,
        "default": 4
    },
	{
	"type":"header",
	"content":"t:sections.collection-template.settings.header__3.content"
	},
	{
	"type":"select",
	"id":"pagination_mode",
	"label":"t:sections.collection-template.settings.pagination_mode.label",
	"options": [
		{
			"label":"t:sections.collection-template.settings.pagination_mode.options__1.label",
			"value":"standart"
		},
		{
			"label":"t:sections.collection-template.settings.pagination_mode.options__2.label",
			"value":"click"
		},
		{
			"label":"t:sections.collection-template.settings.pagination_mode.options__3.label",
			"value":"scroll"
		}
	],
	"default": "standart"
	}
 	
  ]
}
{% endschema %}
