{% assign navigation_style  = section.settings.navigation_style %}
{% assign enable_carousel = section.settings.enable_carousel %}
{% assign products_per_row = section.settings.grid %}
{% assign products_per_row_mobile = section.settings.grid_mobile | times: 1 %}

{% assign show_vendor = section.settings.show_vendor %} 

{% assign image = section.settings.image %}
{% assign mobile_image = section.settings.mobile_image %}


{%- capture flickity_options -%}
{
 "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
	"watchCSS": true,
 "cellAlign": "left",
  "pauseAutoPlayOnHover": true,
  "autoPlay": {% if section.settings.enable_autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.settings.show_dots %}true{% else %}false{% endif %},
	"groupCells": {{products_per_row}}
}
{%- endcapture -%}


  {% case products_per_row %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = ' medium-up--one-third' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = ' medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = ' medium-up--one-fifth' -%}
  {% endcase %}

{% assign grid_item_mobile_width = '' %}
{% if enable_carousel == false %}
{% assign grid_item_mobile_width = 'small--one-whole' %}
{% if products_per_row_mobile  == 2 %}
{% assign grid_item_mobile_width = 'small--one-half' %}
{% endif %}
{% endif %}

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-products"  {% if image != blank %} class="fade-in-animation" {% endif %}>

  {%- if section.blocks.size > 0 -%}
  <div class='index-tabs-collections-wrapper section_main_content {% if products_per_row_mobile == 2 and enable_carousel == false %} half_row_mobile {% endif %}'>
    <div class="section-header page-width homepage_subtitle_style_{{settings.homepage_subtitle_color}}" >
      {% if section.settings.subtitle != blank  %}
      <span class='h5'>{{ section.settings.subtitle  }}</span>
      {% endif %}
      
      {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
    {% endif %}


      <div class='index-tabs_nav__wrapper navigation_style_{{navigation_style}} {% if section.blocks.size == 1 and section.blocks[0].settings.heading == blank  %} single_collection_wrapper {% endif %}'>
        <div class='index-tabs_nav {% if section.blocks.size == 1 %} single_collection {% endif %}'>
          {% for block in section.blocks %}
           {% if  block.settings.heading != blank %}
         <a href="javascript:void(0)" class='index-tabs_nav--item {% if forloop.first %} active {% endif %}' data-index="{{forloop.index0}}" data-href='tab_{{block.settings.heading | handle }}_{{block.id}}' aria-label="{{block.settings.heading}}">
            {% if navigation_style == 'large' %}
            
            {% if section.settings.title != blank %}
             <h3>{{ block.settings.heading }}</h3>
            {% else %}
            <h2>{{ block.settings.heading }}</h2>
            {% endif %}
            
            {% else %}
            <h3>{{ block.settings.heading }}</h3>
            {% endif %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
        {% if section.settings.show_arrows and enable_carousel %}
        <div class='slider_custom_arrows'>
          <a href="javascript:void(0)" id='button_prev_{{section.id}}' class='button-prev btn btn--circle-arrow' aria-label="Previous" aria-describedby="button previous">
            {% include 'icon' with 'tail-left' %}
          </a>
          <a href="javascript:void(0)" id='button_next_{{section.id}}' class='button-next btn btn--circle-arrow' aria-label="Next" aria-describedby="button next">
            {% include 'icon' with 'tail-right' %}
          </a>
        </div>
        {% endif %}
      </div>


    </div>
    <div class='section-tabs-content  {% if settings.align_height %} use_align_height {% else %} use_image_height {% endif %}  {% unless enable_carousel %} page-width {% endunless %}'>
      {% for block in section.blocks %}

      {% assign collection = collections[block.settings.collection_handle] %}
      {% assign product_limit = block.settings.max_products_count %}
      
     
      <div class=' index-tabs-content_block {% if forloop.first %} active  {% endif %}' id='tab_{{block.settings.heading | handle  }}_{{block.id}}'>
        {% if enable_carousel %}
        <div class='zoom-fade-animation index-tabs-content_block__slider slides_{{collection.products.size}}' data-flickity-config='{{ flickity_options }}'>
          {% for product in collection.products limit:product_limit %}
            {% include 'product-card-item', list: false, max_height: max_height, product: product, show_vendor: show_vendor %}         
          {% else %}

          {% for i in (1..product_limit) %}

          <div class="zoom-fade-animation-element-wrapper grid__item  product-item-block   view-mode-grid {{ grid_item_width }} {{ grid_item_mobile_width}} " >
            <div class="product-card product-card-grid-wrapper grid-view-item ">




              <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
                <a class="grid-view-item__link-image product-card__link-image" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                  <div  class="grid-view-item__image-wrapper product-card__image-wrapper">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg zoom-fade-animation-element' }}
                  </div>
                </a>
              </div>
   
          
              <a class="grid-view-item__link-title product-card__link-title" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                <span class="h4 grid-view-item__title product-card__title" > 
                 {{ 'homepage.onboarding.product_title' | t }}
                </span>
              </a>
             
              <div class='product-item__price_and_reviews_row'>
			  {% include 'product-price' %}
    
              </div>
             
            </div>
            <div class="product-card product-card--list-wrapper list-view-item">
              <div class='product-card--list'>

                <div class='product-list--media'>


            

                  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
                    <a class="list-view-item__link-image product-card__link-image" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                      <div  class="list-view-item__image-wrapper product-card__image-wrapper">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg zoom-fade-animation-element' }}
                      </div>
                    </a>
                  </div>

                </div>
                <div class='product-list--info'>
                
                  <a class="list-view-item__link-title product-card__link-title" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                    <span class="h4 list-view-item__title product-card__title"> {{ 'homepage.onboarding.product_title' | t }}</span>
                  </a>
                  <div class='product-item__price_and_reviews_row'>
          		  {% include 'product-price' %}
                  </div>    
                 
                
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
          
          {% endfor %}
        </div>
        {% else %}
        <div class="zoom-fade-animation grid grid--uniform grid--view-items">
          {% for product in collection.products limit: product_limit %}
            {% include 'product-card-item', list: false, max_height: max_height, product: product, show_vendor: show_vendor%}         
          {% else %}

          {% for i in (1..product_limit) %}
          <div class="zoom-fade-animation-element-wrapper grid__item grid__item--{{section.id}} {{ grid_item_width }} {{ grid_item_mobile_width}}">
            <div class="grid-view-item product-card">
              <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
              </a>
             <div class="grid-view-item__image-wrapper placeholder_image_wrapper">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg zoom-fade-animation-element' }}
              </div>
              <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
              {% include 'product-price' %}
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
   
      {% endfor %}
     
    </div>

  </div>
  {% if image != blank %}
  <div class='section_bg'>
      
    
        <img 
             class="section_bg_image {% if mobile_image != blank %} small--hide {% endif %}"
             srcset="{%- if image.width >= 375 -%}{{ image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if image.width >= 720 -%}{{ image | img_url: '720x' }} 750w,{%- endif -%}
                {%- if image.width >= 1066 -%}{{ image | img_url: '1066x' }} 1066w,{%- endif -%}
             	{%- if image.width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if image.width >= 1780 -%}{{ image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if image.width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if image.width >= 2800 -%}{{ image | img_url: '2800x' }} 2800w{%- endif -%}"
             src="{{ image | img_url: '535x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ image.width }}"
        	 height="{{ image.height }}"
             alt="{{image.alt | default: section.settings.title }}">
      
      {% if mobile_image != blank %}
        <img 
             class="section_bg_image mobile_image medium-up--hide"
             srcset="{%- if mobile_image.width >= 375 -%}{{ mobile_image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if mobile_image.width >= 720 -%}{{ mobile_image | img_url: '720x' }} 750w,{%- endif -%}
                {%- if mobile_image.width >= 1066 -%}{{ mobile_image | img_url: '1066x' }} 1066w,{%- endif -%}
             	{%- if mobile_image.width >= 1500 -%}{{ mobile_image | img_url: '1500x' }} 1500w{%- endif -%}"
             src="{{ mobile_image | img_url: '535x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ mobile_image.width }}"
        	 height="{{ mobile_image.height }}"
             alt="{{mobile_image.alt | default: section.settings.title  }}">
      {% endif %}
           
   
  </div>
   {% endif %}
    
  
  {% endif %}
  
  
  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
  
</section>

{% schema %}
  {
   "name": "t:sections.featured-products.name",
	"class":"index-section section_with_bg",
	"max_blocks":3,
    "settings": [
      {
      "type":"text",
      "id":"title",
      "label":"t:sections.featured-products.settings.title.label",
		"default": "Heading"

      },
	
	{
	"type":"text",
	"id":"subtitle",
	"label":"t:sections.featured-products.settings.subtitle.label",
	"default": "Subheading"
	},

  {
      "type": "select",
      "id": "navigation_style",
      "label": "t:sections.featured-products.settings.navigation_style.label",
	"options": [
		{
          "value": "normal",
          "label": "t:sections.featured-products.settings.navigation_style.options__1.label"
		},
		{
          "value": "large",
          "label": "t:sections.featured-products.settings.navigation_style.options__2.label"
		}
	],
	"default":"normal"
	},
{
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.featured-products.settings.show_vendor.label",
      "default": false
    },
	    {
      "type": "range",
      "id": "grid",
      "label": "t:sections.featured-products.settings.grid.label",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
  {
      "type": "select",
      "id": "grid_mobile",
      "label": "t:sections.featured-products.settings.grid_mobile.label",
	"options": [
		{
          "value": "1",
          "label": "t:sections.featured-products.settings.grid_mobile.options__1.label"
		},
		{
          "value": "2",
          "label": "t:sections.featured-products.settings.grid_mobile.options__2.label"
		}
	],
	"default":"1"
	},
   
	{
		"type":"header",
		"content":"t:sections.featured-products.settings.carousel_options_header.label"
	},
 	{
      "type": "checkbox",
      "id": "enable_carousel",
		"label":"t:sections.featured-products.settings.enable_carousel.label",
		"default": true
	},
  {
      "type": "checkbox",
      "id": "show_dots",
		"label":"t:sections.featured-products.settings.show_dots.label",
		"default": true
	},
 {
         "type":"checkbox",
         "id":"show_arrows",
         "label":"t:sections.featured-products.settings.show_arrows.label",
         "default":true
      },
      {
         "type":"checkbox",
         "id":"enable_autoplay",
         "label":"t:sections.featured-products.settings.enable_autoplay.label",
         "default":false
      },
	{
      "type": "range",
      "id": "cycle_speed",
      "min": 1,
      "max": 8,
      "step": 1,
      "unit": "t:sections.featured-products.settings.cycle_speed.unit",
      "label": "t:sections.featured-products.settings.cycle_speed.label",
      "default": 5
    }
	],
	"blocks": [
	{
	"name":"t:sections.featured-products.blocks.collection.name",
	"type":"collection",
	"settings": [
	{
	"type":"text",
	"id":"heading",
	"label":"t:sections.featured-products.blocks.collection.settings.heading.label"
	
	},
	{
	"type":"collection",
	"id":"collection_handle",
	"label":"t:sections.featured-products.blocks.collection.settings.collection_handle.label"
	},
	 {
      "type": "range",
      "id": "max_products_count",
      "label": "t:sections.featured-products.blocks.collection.settings.max_products_count.label",
      "min": 2,
      "max": 40,
      "step": 1,
      "default": 10
    }
	]
}
	],
	"presets": [
	{
	"name": "t:sections.featured-products.presets.name",
	"category":"Custom Sections",
      "blocks": [
        {
          "type": "collection"
        }
      ]
	}
	]
  }
{% endschema %}
