{% assign header_image = settings.customer_header_image %}
{% assign header_heading =    'customer.reset_password.title' | t  %}
{% assign show_breadcrumbs = settings.show_customer_breadcrumbs %}
{% assign show_heading = settings.show_customer_heading %}

{% assign image_overlay_color = settings.customer_image_overlay_color %} 
{% assign image_overlay_opacity = settings.customer_image_overlay_opacity %}

{% if header_image != blank %}
{% render 'custom_page_header' image: header_image, heading: header_heading, show_breadcrumbs: show_breadcrumbs, show_heading: show_heading, image_overlay_color: image_overlay_color, image_overlay_opacity: image_overlay_opacity %}
{% endif %}


<section id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
        <div class="section-header">
          <div class="form-vertical">
            {% form 'reset_customer_password' %}

            {% if header_image == blank and show_heading %}
            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>
            {% endif %}

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
            {% endform %}
          </div>

        </div>
      </div>
    </div>
  </div>

</section>


{% schema %}
  {
    "name": "t:sections.main-reset_password.name",
    "settings": []
  }
{% endschema %}
