{% assign header_image = settings.customer_header_image %}
{% assign header_heading =  'customer.activate_account.title' | t  %}
{% assign show_breadcrumbs = settings.show_customer_breadcrumbs %}
{% assign show_heading = settings.show_customer_heading %}

{% assign image_overlay_color = settings.customer_image_overlay_color %} 
{% assign image_overlay_opacity = settings.customer_image_overlay_opacity %}

{% if header_image != blank %}
{% render 'custom_page_header' image: header_image, heading: header_heading, show_breadcrumbs: show_breadcrumbs, show_heading: show_heading, image_overlay_color: image_overlay_color, image_overlay_opacity: image_overlay_opacity %}
{% endif %}


<section id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="page-width text-center">
    <div class="grid">
      <div class="grid__item medium-up--one-half medium-up--push-one-quarter">


        <div class="section-header">
          {% if show_heading and  header_image == blank  %}
          <h1>{{ 'customer.activate_account.title' | t }}</h1>
          {% endif %}
          <p>{{ 'customer.activate_account.subtext' | t }}</p>

        </div>
      

        <div class="form-vertical">
          {% form 'activate_customer_password' %}

          {%- if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
          {%- endif -%}

          <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

          <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

          <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
          <div><input type="submit" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"></div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
   "name": "t:sections.main-activate_account.name",
    "settings": []
  }
{% endschema %}