<div class="password-content">
  {% if section.settings.logo %}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image" data-image-loading-animation>
      {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
      <img class="js"
           srcset="{{ section.settings.logo | img_url: '300x' }} 1x, {{ section.settings.logo | img_url: '300x', scale: 2 }} 2x"
           loading="lazy"
           width="{{section.settings.logo.width}}"
           height="{{section.settings.logo.height}}"
           alt="{{ logo_alt | escape }}"
           style="max-width: {{ section.settings.logo_max_width }}px"
            style="object-position:{{ section.settings.logo.presentation.focal_point }};">
      <noscript>
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             loading="lazy"
             width="{{section.settings.logo.width}}"
             height="{{section.settings.logo.height}}"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo"
             style="max-width: {{ section.settings.logo_max_width }}px;"
             style="object-position:{{ section.settings.logo.presentation.focal_point }};">
      </noscript>
    </a>
  {% else %}
    <h1 class="site-header__logo-link">
      <span class="logo">{{ shop.name }}</span>
    </h1>
  {% endif %}

  <span class="h2 password-content__title">{{ section.settings.header | escape }}</span>
</div>


{% schema %}
{
  "name": "t:sections.password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "t:sections.password-header.settings.logo_max_width.label",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "t:sections.password-header.settings.logo_max_width.unit",
      "default": 100
    },
    {
      "type": "text",
      "id": "header",
      "label": "t:sections.password-header.settings.header.label",
      "default": {
        "cs": "Připravujeme",
        "da": "Kommer snart",
        "de": "Demnächst",
        "en": "Coming Soon",
        "es": "Próximamente",
        "fi": "Tulossa pian",
        "fr": "En construction",
        "it": "Presto disponibile",
        "ja": "まもなく公開",
        "ko": "곧 출시 예정",
        "nb": "Kommer snart",
        "nl": "Binnenkort",
        "pl": "Już wkrótce",
        "pt-BR": "Em breve",
        "pt-PT": "Em breve",
        "sv": "Kommer snart",
        "th": "เร็วๆ นี้",
        "tr": "Çok Yakında",
        "vi": "Sắp ra mắt",
        "zh-CN": "即将推出",
        "zh-TW": "即將推出"
      }
    }
  ]
}
{% endschema %}
