{% assign show_buttons = section.settings.show_buttons %}
{% assign show_dots = section.settings.show_dots %}
{% assign slideshow_width = section.settings.slideshow_width %}


<div data-section-id="{{ section.id }}" data-section-type="slideshow-section" class="fade-in-animation">
  <div class='slideshow-section-wrapper {% if slideshow_width == 'wrapper' %} page-width {% endif %}'>
    {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="slideshow-wrapper" role="region" aria-label="slideshow" aria-describedby="slideshow-info" tabindex="-1" data-slider>
      <div class="slideshow slideshow--{{ section.settings.slideshow_height }}  mobile-slideshow--{{ section.settings.slideshow_mobile_height }}"
           id="Slideshow-{{ section.id }}"
           data-slideshow_height="{{section.settings.slideshow_height}}"
           data-autorotate="{{ section.settings.autorotate }}"
           data-slider-container
           data-speed="{{ section.settings.autorotate_speed | times: 1000 }}"
           data-adapt-height="false"
           data-slide-nav-a11y="{{ 'sections.slideshow.load_slide' | t: slide_number: '[slide_number]' }}"
           >
        {%- for block in section.blocks -%}
        {%- assign block_image = block.settings.image -%}
        {%- assign block_mobile_image = block.settings.mobile_image -%}


        {%- assign text_alignments = block.settings.text_alignment | split: ' ' -%}
        {%- assign text_horizontal_alignment = text_alignments.first -%}
        {%- assign text_vertical_alignment = text_alignments.last | strip -%}



        {% assign slide_link = false %}
        {% if block.settings.button_label == blank and block.settings.button_link != blank   and  block.settings.button_label_2 == blank and block.settings.button_link_2 == blank  %}
        {% assign slide_link = true %}
        {% endif %}

        {% assign videoSlide = false %}
        {% if block.type == 'video' %}
        {% assign videoSlide = true %}
        {% endif %}
        
      
        {%- if section.settings.slideshow_height == 'adapt' or  section.settings.slideshow_mobile_height == 'adapt' -%}
        
          {%- if block.settings.image.aspect_ratio == blank -%}
          {%- assign min_aspect_ratio = 2.0 -%} 
          {%- else -%}
          {%- assign min_aspect_ratio = block.settings.image.aspect_ratio -%}
          {%- endif -%}


        {% if block_mobile_image != blank %} 
        {%- assign min_aspect_ratio_mobile = block_mobile_image.aspect_ratio -%}
        {% assign wrapper_height_mobile = 100 | divided_by: min_aspect_ratio_mobile %}
        {%- endif -%}
        
      
        {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
       
        {%- endif -%}
        
        

        <div id="slickSlide-{{ block.id }}" 
             class=" slideshow__slide slideshow__slide--{{ block.id }}{% if forloop.first %} slideshow__slide--active{% endif %}
                    block_type__{{block.type}}
                    
                   {% if videoSlide %} video-section  {% endif %}
                    
                    " 
             data-slider-slide-index="{{ forloop.index0 }}" 
             data-slider-item {{ block.shopify_attributes }}
             
               
       
         
             >
          
          <style>
            {% if section.settings.slideshow_height == 'adapt' %}
            .slideshow__slide--{{ block.id }}:before {
              content:"";
              display:block;
              width:100%;
              padding-bottom: {{ wrapper_height }}%;
            }
            {% endif %}
            {% if section.settings.slideshow_mobile_height == 'adapt' %}

            @media screen and (max-width:749px) {
              .slideshow__slide--{{ block.id }}:before {
                content:"";
                display:block;
                width:100%;

                {% if block_mobile_image != blank %} 
                padding-bottom:{{ wrapper_height_mobile}}%;
                {% else %}
                padding-bottom:{{ wrapper_height}}%;
                {% endif %}
              }
            }
          
            {% endif %}
          </style>
            
         

          {% if slide_link %}
          <a href='{{block.settings.button_link}}'>
            {% endif %}

            
            {% if videoSlide %}
            
               {% assign html5_video_url = block.settings.html5_video_url %}
               {% assign video_url = block.settings.video %}

              {%- if video_url != blank  or html5_video_url != blank  -%}
              <div class="video-section-wrapper
                          video-background-wrapper
                          
                          video-section-wrapper--{{ section.id }}"
                 >
                 <div class="slideshow__overlay video__overlay" id='slideshow__overlay_{{block.id}}'></div>

                {%- if video_url != blank  and html5_video_url == blank -%}
                <div id="Video-{{ block.id }}"
                     class="video video--background slideshow_video"
                     data-id="{{ video_url.id }}"
                     data-type="background"></div>
                {%- endif -%}

                {% if html5_video_url != blank %}
                <video  id="VideoModal_{{block.id}}" muted  loop  webkit-playsinline playsinline {% if forloop.first %}  autoplay {% endif %} class='slideshow_video'>
                  <source src="{{html5_video_url}}" type="video/mp4">
                </video>
                {% endif %}


     



            </div>
            {%- else -%}
            <div class="placeholder-noblocks">
              {{ 'homepage.onboarding.no_content' | t }}
            </div>
            {%- endif -%}
            
            
            <style>
             
              #slideshow__overlay_{{block.id}}::before {
                opacity: {{ block.settings.video_overlay_opacity }}% ;
                background-color: {{ block.settings.color_video_overlay }};
              }
              #slickSlide-{{ block.id }}  .slideshow__title,
              #slickSlide-{{ block.id }}  .slideshow__subtitle {
                color: {{ block.settings.text_color }};
              }

            </style>
      

                       
            {% else %}
              {% if block_image == blank %}
              <div class="slideshow__image">
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
               <div class="slideshow__overlay" id='slideshow__overlay_{{block.id}}'></div>
              </div>
              {% else %}
              <div class="{% if block_mobile_image != blank %} small--hide  {% endif %} slideshow__image_wrapper">
                <img 
                     class="slideshow__image box"
                     srcset="{%- if block_image.width >= 375 -%}{{ block_image | img_url: '375x' }} 375w,{%- endif -%}
                             {%- if block_image.width >= 720 -%}{{ block_image | img_url: '720x' }} 750w,{%- endif -%}
                             {%- if block_image.width >= 1066 -%}{{ block_image | img_url: '1066x' }} 1066w,{%- endif -%}
                             {%- if block_image.width >= 1500 -%}{{ block_image | img_url: '1500x' }} 1500w,{%- endif -%}
                             {%- if block_image.width >= 1780 -%}{{ block_image | img_url: '1780x' }} 1780w,{%- endif -%}
                             {%- if block_image.width >= 2000 -%}{{ block_image | img_url: '2000x' }} 2000w,{%- endif -%}
                             {%- if block_image.width >= 2800 -%}{{ block_image | img_url: '2800x' }} 2800w{%- endif -%}"
                     src="{{ block_image | img_url: '750x' }}"
                     sizes="100vw"
                     loading="lazy"
                     width="{{ block_image.width }}"
                     height="{{ block_image.height }}"
                     
                     aria-label="{{ block_image.alt | default: block.settings.slide_title }}"
                     alt="{{ block_image.alt | default: block.settings.slide_title  }}"
                      style="object-position:{{ block_image.presentation.focal_point }};">

              <div class="slideshow__overlay" id='slideshow__overlay_{{block.id}}'></div>
              </div>

              {% if block_mobile_image != blank %}
              <div class=" slideshow__image_wrapper medium-up--hide">
                <img 
                     class="slideshow__image box"
                     srcset="{%- if block_mobile_image.width >= 375 -%}{{ block_mobile_image | img_url: '375x' }} 375w,{%- endif -%}
                             {%- if block_mobile_image.width >= 720 -%}{{ block_mobile_image | img_url: '720x' }} 750w,{%- endif -%}
                             {%- if block_mobile_image.width >= 1066 -%}{{ block_mobile_image | img_url: '1066x' }} 1066w,{%- endif -%}
                             {%- if block_mobile_image.width >= 1500 -%}{{ block_mobile_image | img_url: '1500x' }} 1500w{%- endif -%}"
                     src="{{ block_mobile_image | img_url: '535x' }}"
                     sizes="100vw"
                     loading="lazy"
                     width="{{ block_mobile_image.width }}"
                     height="{{ block_mobile_image.height }}"
                     aria-label="{{ block_mobile_image.alt | default: block.settings.slide_title }}"
                     alt="{{ block_mobile_image.alt | default: block.settings.slide_title }}"
                     style="object-position:{{ block_mobile_image.presentation.focal_point }};">

                <div class="slideshow__overlay" id='slideshow__overlay_{{block.id}}'></div>
              </div>          
              {% endif %}
              <noscript>
                <div class="slideshow__image"{% if block_image %}{% unless block_image.alt == blank %} role="img" aria-label="{{ block_image.alt | escape }}"{% endunless %} style="background-image: url('{{ block_image | img_url: '2048x' }}'); background-position: {{ block.settings.alignment }};"{% endif %}>
                  {% if block_image == blank %}
                  <div class="placeholder-background">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  {% endif %}
                </div>
              </noscript>
              {% endif %}

            <style>

              #slideshow__overlay_{{block.id}}::before {
                opacity: {{ block.settings.image_overlay_opacity }}% ;
                background-color: {{ block.settings.color_image_overlay }};
              }
              #slickSlide-{{ block.id }}  .slideshow__title,
              #slickSlide-{{ block.id }}  .slideshow__subtitle {
                color: {{ block.settings.text_color }};
              }

            </style>



            {% endif %}

 

            <div class="slideshow__text-wrap slideshow__text-wrap--desktop">
              <div class="slideshow__text-content slideshow__text-content--vertical-{{ text_vertical_alignment }} text-{{ text_horizontal_alignment }}">
                <div class="page-width-small">
                  {% unless block.settings.slide_title == blank and block.settings.subheading == blank %}
                  <ul class="slideshow__text-content-list">
                    {%- unless block.settings.slide_title == blank -%}
                    <li>
                      <h2 class="h1 mega-title slideshow__title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                        {{ block.settings.slide_title | escape }}
                      </h2>
                    </li>
                    {%- endunless -%}
                    {%- unless block.settings.subheading == blank -%}
                    <li>
                      <span class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                        {{ block.settings.subheading | escape }}
                      </span>
                    </li>
                    {%- endunless -%}
                  </ul>
                  {% endunless %}

                  {%- assign show_link_button = false -%}
                  {%- if block.settings.button_label != blank and block.settings.button_link != blank   or block.settings.button_label_2 != blank and block.settings.button_link_2 != blank  -%}
                  {%- assign show_link_button = true -%}
                  {%- endif -%}
                  {%- if show_link_button -%}

                  {% assign button_style = block.settings.button_style %}
                  {% assign button_style_2 = block.settings.button_style_2 %}

                  <div class="slideshow__btn-wrapper{% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}">
                    {%- if block.settings.button_label != blank and block.settings.button_link != blank %}
                      <a href="{{ block.settings.button_link }}" class="btn slideshow__btn btn--{{button_style}}">
                        <span>{{ block.settings.button_label | escape }}</span>
                        {% include 'icon' with 'tail-right' %}
                    </a>
                    {% endif %}

                    {%- if block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %}
                      <a href="{{ block.settings.button_link_2 }}" class="btn slideshow__btn btn--{{button_style_2}}">
                        <span>{{ block.settings.button_label_2 | escape }}</span>
                        {% include 'icon' with 'tail-right' %}
                    </a>
                    {% endif %}

                  </div>
                  {%- endif -%}
                </div>
              </div>
            </div>

            {% if slide_link %}
          </a>
          {% endif %}

        </div>
        {%- endfor -%}
      </div>
      
      
      <div class="slideshow__controls page-width-small {% unless show_dots %} arrows_only {% endunless %}">
        {%- if section.blocks.size > 1 -%}
        {%- assign arrows_width = section.blocks.size | times: 18 | plus: 115 -%}

        {% if show_dots and section.blocks.size > 1 %}

        <ul class="slick-dots" data-slider-indicators>
          {%- for block in section.blocks -%}
          <li{% if forloop.first %} class="slick-active"{% endif %} data-slider-indicator roll="button">
            <a href="#Slideshow-{{ section.id }}" aria-label="{{ 'sections.slideshow.load_slide' | t: slide_number: forloop.index }}" data-slide-number="{{ forloop.index0 }}" aria-controls="slickSlide-{{ block.id }}"></a>
          </li>
          {%- endfor -%}
        </ul>


        {% endif %}

        {% if show_buttons and section.blocks.size > 1  %}
        <div class="slideshow__arrows"> 
          
          {% if show_buttons %}
          <button class="slideshow__arrow slideshow__arrow-previous btn btn--circle-arrow" aria-label="{{ 'sections.slideshow.previous_slide' | t }}" data-slider-button>
            {% include 'icon' with 'tail-left' %}
          </button>
          <button class="slideshow__arrow slideshow__arrow-next btn btn--circle-arrow" aria-label="{{ 'sections.slideshow.next_slide' | t }}" data-slider-button data-slider-button-next>
            {% include 'icon' with 'tail-right' %}
          </button>
          {% endif %}


        </div>
        {% endif %}

        {%- endif -%}
      </div>
    </div>
    {%- endif -%}

    {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
    {% endif %}
  </div>
  
  
  <script>
    var header = document.querySelector('.shopify-section-header');


      var isSlideshowFirstSection = false;
      var main_wrapper = document.querySelector('#MainContent');
      if(main_wrapper) {
        var first_shopifySection = main_wrapper.querySelectorAll('.shopify-section')[0];
        if(first_shopifySection) {
          if(first_shopifySection.classList.contains('index-section--slideshow')) {
            isSlideshowFirstSection = true; 

            if(first_shopifySection.querySelector('.slideshow-section-wrapper').classList.contains('page-width')) {
              isSlideshowFirstSection = false; 
            }
            

          }
        }
      }
   
    
      if(!isSlideshowFirstSection) {
        document.querySelector('.shopify-section-header').classList.add('showAlternateHeader');
      }

  </script>
  

</div>

{% if section.settings.removeBottomMargin %}
<style>
  #shopify-section-{{ section.id }} {
    padding-bottom:0;
    margin-bottom:0;
  }
</style>
  {% endif %}


{% schema %}
{
  "name": "t:sections.slideshow.name",
  "class": "index-section index-section--flush index-section--slideshow",
  "max_blocks": 6,
  "settings": [

{
      "type": "select",
      "id": "slideshow_width",
      "label": "t:sections.slideshow.settings.slideshow_width.label",
      "default": "full",
      "options": [
        {
          "label": "t:sections.slideshow.settings.slideshow_width.options__1.label",
          "value": "full"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_width.options__2.label",
          "value": "wrapper"
        }
        
      ]
    },
    {
      "type": "select",
      "id": "slideshow_height",
      "label": "t:sections.slideshow.settings.slideshow_height.label",
      "default": "adapt",
	  "options": [
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options__1.label",
          "value": "small"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options__2.label",
          "value": "medium"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options__3.label",
          "value": "large"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options__4.label",
          "value": "adapt" 
        }
      ]
    },
{
      "type": "select",
      "id": "slideshow_mobile_height",
      "label": "t:sections.slideshow.settings.slideshow_mobile_height.label",
      "default": "adapt",
	  "options": [
        {
          "label": "t:sections.slideshow.settings.slideshow_mobile_height.options__1.label",
          "value": "small"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_mobile_height.options__2.label",
          "value": "medium"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_mobile_height.options__3.label",
          "value": "large"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_mobile_height.options__4.label",
          "value": "adapt" 
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.slideshow.settings.text_size.label",
      "default": "medium",
      "options": [
        {
          "label": "t:sections.slideshow.settings.text_size.options__1.label",
          "value": "medium"
        },
        {
          "label": "t:sections.slideshow.settings.text_size.options__2.label",
          "value": "large"
        }
      ]
    },
    
	 {
      "type": "checkbox",
      "id": "show_buttons",
      "label": "t:sections.slideshow.settings.show_buttons.label",
		"default": true
},
	 {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.slideshow.settings.show_dots.label",
		"default": true
},
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": "t:sections.slideshow.settings.autorotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "t:sections.slideshow.settings.autorotate_speed.label",
      "max": 7,
      "min": 1,
      "step": 1,
      "unit": "t:sections.slideshow.settings.autorotate_speed.unit",
      "default": 3
    },
	{
		"type":"checkbox",
		"id":"removeBottomMargin",
		"label": "t:sections.slideshow.settings.removeBottomMargin.label",
		"info": "t:sections.slideshow.settings.removeBottomMargin.info"
	}
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.slideshow.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.image.settings.image.label"
        },
 	{
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.slideshow.blocks.image.settings.mobile_image.label"
	},
{
        "type": "color",
        "id": "color_image_overlay",
       "label": "t:sections.slideshow.blocks.image.settings.color_image_overlay.label",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
       "label": "t:sections.slideshow.blocks.image.settings.image_overlay_opacity.label",
        "min": 0,
        "max": 100,
        "step": 1,
       "unit": "t:sections.slideshow.blocks.image.settings.image_overlay_opacity.unit",
        "default": 40
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.slideshow.blocks.image.settings.text_color.label",
        "default": "#ffffff"
      }, 
{
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.slideshow.blocks.image.settings.text_alignment.label",
      "default": "center center",
      "options": [
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__1.label",
          "value": "left top"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__2.label",
          "value": "center top"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__3.label",
          "value": "right top"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__4.label",
          "value": "left center"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__5.label",
          "value": "center center"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__6.label",
          "value": "right center"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__7.label",
          "value": "left bottom"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__8.label",
          "value": "center bottom"
        },
        {
          "label": "t:sections.slideshow.blocks.image.settings.text_alignment.options__9.label",
          "value": "right bottom"
        }
      ]
    },
        {
          "type": "text",
          "id": "slide_title",
          "label": "t:sections.slideshow.blocks.image.settings.slide_title.label",
          "default": {
            "cs": "Obrázkový snímek",
            "da": "Billeddias",
            "de": "Foto-Slide",
            "en": "Image slide",
            "es": "Diapositiva de imagen",
            "fi": "Kuvadia",
            "fr": "Diapositive (image)",
            "it": "Slide immagine",
            "ja": "画像スライド",
            "ko": "이미지 슬라이드",
            "nb": "Lysbilde",
            "nl": "Afbeelding dia",
            "pl": "Slajd obrazu",
            "pt-BR": "Slide de imagem",
            "pt-PT": "Diapositivo de imagem",
            "sv": "Bild i bildspel",
            "th": "สไลด์รูปภาพ",
            "tr": "Görsel slaytı",
            "vi": "Trang chiếu hình ảnh",
            "zh-CN": "图片幻灯片",
            "zh-TW": "圖片投影片"
          }
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.slideshow.blocks.image.settings.subheading.label",
          "default": {
            "cs": "Představte příběh své značky prostřednictvím obrázků",
            "da": "Fortæl dit brands historie gennem billeder",
            "de": "Erzählen Sie Ihre Geschichte mit Fotos",
            "en": "Tell your brand's story through images",
            "es": "Cuenta la historia de tu marca a través de videos e imágenes",
            "fi": "Kerro tuotemerkkisi tarina kuvien kautta",
            "fr": "Racontez votre histoire avec des images",
            "it": "Racconta la storia del tuo brand con video e immagini",
            "ja": "あなたのブランドのストーリーをビデオや画像で伝える",
            "ko": "이미지를 통해 브랜드 스토리 이야기하기",
            "nb": "Fortell merkevarens historie gjennom bilder",
            "nl": "Vertel met afbeeldingen het verhaal van je merk",
            "pl": "Opowiedz historię swojej marki za pomocą obrazów",
            "pt-BR": "Conte a história da sua marca com vídeos e imagens",
            "pt-PT": "Conte a história da sua marca através de imagens",
            "sv": "Berätta ditt varumärkes historia genom video och bilder",
            "th": "บอกเล่าเรื่องราวของแบรนด์คุณผ่านรูปภาพ",
            "tr": "Görsellerle marka öykünüzü anlatın",
            "vi": "Chia sẻ câu chuyện thương hiệu của bạn qua hình ảnh",
            "zh-CN": "通过图片讲述您的品牌故事",
            "zh-TW": "用圖片講述您的品牌故事"
          }
        },
	{
      "type": "select",
      "id": "button_style",
      "label": "t:sections.slideshow.blocks.image.settings.button_style.label",
      "default": "primary",
      "options": [
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style.options__1.label",
          "value": "primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style.options__2.label",
          "value": "secondary"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style.options__3.label",
          "value": "white"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style.options__4.label",
          "value": "transparent_primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style.options__5.label",
          "value": "transparent_secondary"
        }
	]
},
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.slideshow.blocks.image.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label":   "t:sections.slideshow.blocks.image.settings.button_link.label"
          },

	{
      "type": "select",
      "id": "button_style_2",
      "label": "t:sections.slideshow.blocks.image.settings.button_style_2.label",
      "default": "primary",
      "options": [
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style_2.options__1.label",
          "value": "primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style_2.options__2.label",
          "value": "secondary"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style_2.options__3.label",
          "value": "white"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style_2.options__4.label",
          "value": "transparent_primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.image.settings.button_style_2.options__5.label",
          "value": "transparent_secondary"
        }
	]
},

		{
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.slideshow.blocks.image.settings.button_label_2.label"
        },
      {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.slideshow.blocks.image.settings.button_link_2.label"
          }
      ]
    },
{
      "type": "video",
      "name": "t:sections.slideshow.blocks.video.name",
      "settings": [
        {
          "type": "video_url",
          "id": "video",
 		 "accept": ["youtube"],
          "label": "t:sections.slideshow.blocks.video.settings.video.label",
		 "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
 	{ 
          "type": "text",
          "id": "html5_video_url",
          "label": "t:sections.slideshow.blocks.video.settings.html5_video_url.label",
		 "info": "t:sections.slideshow.blocks.video.settings.html5_video_url.info"
	},
{
        "type": "color",
        "id": "color_video_overlay",
       "label": "t:sections.slideshow.blocks.video.settings.color_video_overlay.label",
        "default": "#000"
      },
        {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.slideshow.blocks.video.settings.text_color.label",
        "default": "#ffffff"
      }, 
      {
        "type": "range",
        "id": "video_overlay_opacity",
       "label": "t:sections.slideshow.blocks.video.settings.video_overlay_opacity.label",
        "min": 0,
        "max": 100,
        "step": 1,
       "unit": "t:sections.slideshow.blocks.video.settings.video_overlay_opacity.unit",
        "default": 40
      },
{
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.slideshow.blocks.video.settings.text_alignment.label",
      "default": "center center",
      "options": [
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__1.label",
          "value": "left top"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__2.label",
          "value": "center top"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__3.label",
          "value": "right top"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__4.label",
          "value": "left center"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__5.label",
          "value": "center center"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__6.label",
          "value": "right center"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__7.label",
          "value": "left bottom"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__8.label",
          "value": "center bottom"
        },
        {
          "label": "t:sections.slideshow.blocks.video.settings.text_alignment.options__9.label",
          "value": "right bottom"
        }
      ]
    },
        {
          "type": "text",
          "id": "slide_title",
          "label": "t:sections.slideshow.blocks.video.settings.slide_title.label",
          "default": {
            "cs": "Obrázkový snímek",
            "da": "Billeddias",
            "de": "Foto-Slide",
            "en": "Image slide",
            "es": "Diapositiva de videon",
            "fi": "Kuvadia",
            "fr": "Diapositive (video)",
            "it": "Slide immagine",
            "ja": "画像スライド",
            "ko": "이미지 슬라이드",
            "nb": "Lysbilde",
            "nl": "Afbeelding dia",
            "pl": "Slajd obrazu",
            "pt-BR": "Slide de videom",
            "pt-PT": "Diapositivo de videom",
            "sv": "Bild i bildspel",
            "th": "สไลด์รูปภาพ",
            "tr": "Görsel slaytı",
            "vi": "Trang chiếu hình ảnh",
            "zh-CN": "图片幻灯片",
            "zh-TW": "圖片投影片"
          }
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.slideshow.blocks.video.settings.subheading.label",
          "default": {
            "cs": "Představte příběh své značky prostřednictvím obrázků",
            "da": "Fortæl dit brands historie gennem billeder",
            "de": "Erzählen Sie Ihre Geschichte mit Fotos",
            "en": "Tell your brand's story through videos",
            "es": "Cuenta la historia de tu marca a través de videos e imágenes",
            "fi": "Kerro tuotemerkkisi tarina kuvien kautta",
            "fr": "Racontez votre histoire avec des videos",
            "it": "Racconta la storia del tuo brand con video e immagini",
            "ja": "あなたのブランドのストーリーをビデオや画像で伝える",
            "ko": "이미지를 통해 브랜드 스토리 이야기하기",
            "nb": "Fortell merkevarens historie gjennom bilder",
            "nl": "Vertel met afbeeldingen het verhaal van je merk",
            "pl": "Opowiedz historię swojej marki za pomocą obrazów",
            "pt-BR": "Conte a história da sua marca com vídeos e videons",
            "pt-PT": "Conte a história da sua marca através de videons",
            "sv": "Berätta ditt varumärkes historia genom video och bilder",
            "th": "บอกเล่าเรื่องราวของแบรนด์คุณผ่านรูปภาพ",
            "tr": "Görsellerle marka öykünüzü anlatın",
            "vi": "Chia sẻ câu chuyện thương hiệu của bạn qua hình ảnh",
            "zh-CN": "通过图片讲述您的品牌故事",
            "zh-TW": "用圖片講述您的品牌故事"
          }
        },
	{
      "type": "select",
      "id": "button_style",
      "label": "t:sections.slideshow.blocks.video.settings.button_style.label",
      "default": "primary",
      "options": [
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style.options__1.label",
          "value": "primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style.options__2.label",
          "value": "secondary"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style.options__3.label",
          "value": "white"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style.options__4.label",
          "value": "transparent_primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style.options__5.label",
          "value": "transparent_secondary"
        }
	]
},
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.slideshow.blocks.video.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label":   "t:sections.slideshow.blocks.video.settings.button_link.label"
          },

	{
      "type": "select",
      "id": "button_style_2",
      "label": "t:sections.slideshow.blocks.video.settings.button_style_2.label",
      "default": "primary",
      "options": [
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style_2.options__1.label",
          "value": "primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style_2.options__2.label",
          "value": "secondary"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style_2.options__3.label",
          "value": "white"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style_2.options__4.label",
          "value": "transparent_primary"
        },
		   {
          "label": "t:sections.slideshow.blocks.video.settings.button_style_2.options__5.label",
          "value": "transparent_secondary"
        }
	]
},

		{
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.slideshow.blocks.video.settings.button_label_2.label"
        },
      {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.slideshow.blocks.video.settings.button_link_2.label"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "category": "Custom Sections",
      "settings": {
        "autorotate": false,
        "autorotate_speed": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
